.App {
  text-align: center;
}

.detail { 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.row {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}
