.card {
     margin-top: 20px;
    /*width: 18rem;*/
    justify-content: center;
       }
  
  .card:hover {
  
    border-style: solid;
    border-color: rgb(87, 87, 87);
    background-color:rgba(255, 255, 255, 0.795);
    
  }
  
  .card-title {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
   .card-body {
    margin-top: 10px !important;
    padding-top: 10px !important;
  } 

  .temps {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    justify-content:center
  }

  #closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;
  }
  
  